# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

- Line1
* line2
- Unordered List
    - list1
    - list2
- list one
     >1. list1
     >2. list2
     
- Bold **Text**
- Italic *Text*
- Bold and Italic ***Text***

<img src= "time-distance.png" width=900px height = 200px>

### Python Comments
#### Single line comment - hash(#) 
#### Multi line comment - Triple single quotes(''') or Triple Double quotes(""")

In [10]:
#this is a single line comment
'''this is multi line comment \
line1 \
line2 \
line3'''

'this is multi line comment line1 line2 line3'

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Variables 
-  A memory location allocated to a variable to store a value
### Rules for variables
- variable name cannot be a keyword or pre-defined word
- should start with alphabet or an underscore followed by alphabet,digits and underscore
- No special symbols are allowed 
- spaces are not allowed

In [12]:
a = 12

In [13]:
a

12

In [16]:
ab1 = 12
_ = 10
_t2 = "python"

In [17]:
ab1,_,_t2

(12, 10, 'python')

In [21]:
d_va = 23

In [22]:
a = "string"

In [23]:
a

'string'

In [24]:
i = 12
s = "onlinetraining"
f = 12.56

In [25]:
a=b=c=78
x,y,z = 1,2,3
k = 11,12,13,14,15

In [26]:
k

(11, 12, 13, 14, 15)

In [27]:
y

2

In [28]:
x,z

(1, 3)

In [31]:
a
b
c
x

1

In [34]:
h = int(input("enter the value"))

enter the value5677

In [35]:
h

5677

In [36]:
st = input("enter a string")

enter a stringstring

In [37]:
st

'string'

In [40]:
f = float(input("enter float value"))

enter float value23.78

In [41]:
f

23.78

In [42]:
a = 'hello'
b = 67
a + str(b)

'hello67'

In [43]:
x = '68'
y = 100.0
float(x) + y

168.0

# operators
- Operators are used to perform an operation on operands
## Types of Operators

>1.Arithmetic Operators<br> 
>2.Assignment operators

>3.comparision

>4.Logical
>5.Bitwise

>6.Identity

>7.Membership

In [45]:
5//2

2

In [47]:
# arithmetic operators --> +,-,*,/,%,//,**
a = 15
b = 2
print(a//b)
a**b

7

225

In [49]:
# Assignment operators ---> +=,-=,*=,/=,%=,//=,**=,=
# the addition of 15 and 2 is 17
print("the addition of",a,"and",b,"is",a+b)
a+=b # a = a+b

the addition of 15 and 2 is 17

In [50]:
#comparision operators --> <,>,<=,>=,==,!=
a = 7
b = 9
a>b

False

In [51]:
print(a==b)
print(a<b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
True
False

In [56]:
# Logical operators --> and, or, not
print(a<b and a!=b)
print(not(a>=b or a<=b))
not(a==b)

True
False

True

In [60]:
#bitwise operators - &,|,^
a = 2        # 0010
b = 3        # 0011
print(a & b) # 0010 
print(a|b)   # 0011
print(a^b)   # 0001
~(-11)         # -(a+1)

2
3
1

10

In [62]:
# identity operators --> is, is not
print(2 is a)
print(3 is a)
print(3 is not a)

True
False
True

In [63]:
# Membership operators --> in, not in
"a" in "python"

False

In [64]:
"o" in "python"

True

In [67]:
2 not in [1,2,3,4,6]

False