### Tuple 
- Tuples are similar to list which is used to store the collection of multiple data. Tuples are immutable or unchangable.
- it was represented by ()

In [1]:
tp = (1,3,"ap",6.3)
type(tp)

tuple

In [2]:
tp[2]

'ap'

In [3]:
tp[0:3]

(1, 3, 'ap')

In [4]:
tp1 = (8,7,[1,2],(3,4))
type(tp1)

tuple

In [5]:
tp1[2][0]

1

In [6]:
tp1[3][1]

4

In [7]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [8]:
tp1.count(1)

0

In [10]:
tp1.count(8)

1

In [11]:
tp.index('ap')

2

In [12]:
tup = ('p','y','t','h','o','n')
# output:"python"
string = ''.join(tup)
print(string)

python

In [17]:
tup[0]+tup[1]+tup[2]+tup[3]+tup[4]+tup[5]

'python'

### Sets
- sets are used to store the collection of data in python.
- it contains unique values.
- it was represented by {}.

In [18]:
s = {1,2,3,4,5,6,7,8,9}
type(s)

set

In [19]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [20]:
s.add('sdc')
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'sdc'}

In [21]:
s1=s.copy()
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'sdc'}

In [22]:
s.pop()

1

In [23]:
s

{2, 3, 4, 5, 6, 7, 8, 9, 'sdc'}

In [24]:
s.remove(3)

In [25]:
s

{2, 4, 5, 6, 7, 8, 9, 'sdc'}

In [26]:
s.clear()

In [27]:
s

set()

In [28]:
s.update(s1)

In [29]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'sdc'}

In [30]:
s.discard(7)

In [31]:
s

{1, 2, 3, 4, 5, 6, 8, 9, 'sdc'}

##### difference
- Remove the common elements in two sets and returns the unique elements in the first set.

In [32]:
# difference
set1 = {1,10,11,12,30}
set2 = {10,11,20}
res1 = set1.difference(set2)
print(res1)

{1, 12, 30}

In [34]:
# difference_update
set1 = {1,10,11,12,30}
set2 = {10,11,20}
set1.difference_update(set2)
set1

{1, 12, 30}

#### Intersection
- it returns the set that is the intersection of two other sets.

In [35]:
set1 = {1,10,11,12,30}
set2 = {10,11,20}
res2 = set1.intersection(set2)
print(res2)

{10, 11}

In [36]:
# intersection_update
set1 = {1,10,11,12,30}
set2 = {10,11,20}
set1.intersection_update(set2)
set1

{10, 11}

#### Isdisjoint
- Return True, whether two sets are intersection.

In [37]:
clrs = {'green','blue','white'}
games = {'puzzle','sudoku','ludo'}
res3 = clrs.isdisjoint(games)
print(res3)

True

In [38]:
clrs = {'green','blue','white'}
games = {'puzzle','sudoku','ludo','green'}
res4 = clrs.isdisjoint(games)
print(res4)

False

#### issubset
- Returns True, whether two sets are same elements.

In [43]:
set1 = {1,2,3}
set2 = {'a','b',1,2,3}
set3 = {'a',1,'b',3}
rest1 = set1.issubset(set2)
print(rest1)
rest2 = set1.issubset(set3)
print(rest2)

True
False

In [54]:
# issuperset
set1 = {1,2,3}
set2 = {'a','b',1,2,3}
set3 = {'a',1,'b',3}
rest1 = set2.issuperset(set1)
print(rest1)
rest2 = set3.issuperset(set1)
print(rest2)

True
False

#### Symmetric_difference
- it returns set of elements that are present in either one set or another set

In [49]:
clrs = {'green','blue','white'}
games = {'puzzle','sudoku','ludo','green'}
res5 = clrs.symmetric_difference(games)
print(res5)

{'sudoku', 'blue', 'ludo', 'white', 'puzzle'}

In [50]:
# symmetric_difference
clrs = {'green','blue','white'}
games = {'puzzle','sudoku','ludo','green'}
clrs.symmetric_difference_update(games)
clrs

{'blue', 'ludo', 'puzzle', 'sudoku', 'white'}

In [52]:
# union
num1={1,3,5}
num2={2,4,1}
result = num1.union(num2)
print(result)

{1, 2, 3, 4, 5}