**dictinaries**
- dictionaries is a collection of items
- item is a pair of keys and value 
- unordered data
- seperate the pair of key and values by using ":"
- seperate the items by using ","
- dict are mutable
- we have an function "dict()"
- {}
- key must be unique

In [16]:
a=dict()
print("directfn",type(a))

b={"key":"value",1.46:1,(1,2):[1,2,3,4,5,5],1:"duplicate key"}
b

directfn <class 'dict'>

{'key': 'value', 1.46: 1, (1, 2): [1, 2, 3, 4, 5, 5], 1: 'duplicate key'}

In [23]:
b[1,2]

[1, 2, 3, 4, 5, 5]

In [26]:
b[1]=["one","two","three"]

In [28]:
b["two"]=2

In [29]:
b

{'key': 'value',
 1.46: 1,
 (1, 2): [1, 2, 3, 4, 5, 5],
 1: ['one', 'two', 'three'],
 'two': 2}

In [30]:
print(dir(dict),end="")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

**update**

In [86]:
d1={1:"one","two":2,"three":3}
d2={4:"four",5:"five"}
d1.update(d2)

In [33]:
d1

{1: 'one', 'two': 2, 'three': 3, 4: 'four', 5: 'five'}

In [34]:
b.keys()

dict_keys(['key', 1.46, (1, 2), 1, 'two'])

In [35]:
b.values()

dict_values(['value', 1, [1, 2, 3, 4, 5, 5], ['one', 'two', 'three'], 2])

In [36]:
b.items()

dict_items([('key', 'value'), (1.46, 1), ((1, 2), [1, 2, 3, 4, 5, 5]), (1, ['one', 'two', 'three']), ('two', 2)])

**fromkeys(collection of keys,"optional_default_values)

In [49]:
li=["ravi","kishore","rk","kr"]
d=d.fromkeys(li)

In [50]:
d

{'ravi': None, 'kishore': None, 'rk': None, 'kr': None}

In [51]:
d["ravi"]=1

In [52]:
d

{'ravi': 1, 'kishore': None, 'rk': None, 'kr': None}

**get**

In [53]:
d1

{1: 'one', 'two': 2, 'three': 3, 4: 'four', 5: 'five'}

In [62]:
n=int(input())
d1.get(n,"you are enterd wrong code")

6

'you are enterd wrong code'

In [57]:
d1[1]

'one'

**set default**
setdefault()
- it can add new items if key is not available

In [69]:
d1.setdefault(6,"update the data")

'update the data'

In [70]:
d1

{1: 'one', 'two': 2, 'three': 3, 4: 'four', 5: 'five', 6: 'update the data'}

In [72]:
d1.pop("two")

2

In [73]:
d1

{1: 'one', 'three': 3, 4: 'four', 5: 'five', 6: 'update the data'}

In [80]:
d1.popitem()

KeyError: 'popitem(): dictionary is empty'

In [88]:
d2.pop(4,5)

5

In [85]:
d2

{5: 'five'}

**clear,copy**

In [90]:
d1.clear()

In [91]:
d1

{}

In [93]:
del(d1)

In [94]:
d1

NameError: name 'd1' is not defined

In [96]:
d

{'ravi': 1, 'kishore': None, 'rk': None, 'kr': None}

In [105]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

In [104]:
d

{}

In [106]:
d1={1:"o",2:"t",3:"th"}

In [110]:
d2=d1

In [111]:
d2

{1: 'o', 2: 't', 3: 'th'}

In [112]:
print(id(d1))
print()
print(id(d2))

2215642279008

2215642279008

In [113]:
d2[2]="value"

In [114]:
d2

{1: 'o', 2: 'value', 3: 'th'}

In [115]:
d1

{1: 'o', 2: 'value', 3: 'th'}

In [116]:
d1

{1: 'o', 2: 'value', 3: 'th'}

In [119]:
d3=d1.copy()

In [120]:
d3

{1: 'o', 2: 'value', 3: 'th'}

In [121]:
d1

{1: 'o', 2: 'value', 3: 'th'}

In [123]:
print(id(d1))
print()
id(d3)

2215642279008

2215642984736

In [125]:
d3[3]="three"
d3

{1: 'o', 2: 'value', 3: 'three'}

In [126]:
d1

{1: 'o', 2: 'value', 3: 'th'}

In [133]:
for i in d1.values():
    print(i)

o
value
th

**input name="ravikishore"**
output = {"r":2,"a":1,"v":1,"i":2

In [139]:
user_input=input()
empty_dict={}
for alp in user_input:
    empty_dict[alp]=user_input.count(alp)
empty_dict

ravikishroe

{'r': 2, 'a': 1, 'v': 1, 'i': 2, 'k': 1, 's': 1, 'h': 1, 'o': 1, 'e': 1}

In [136]:
"ravikishore".count("i")

2

In [ ]:
a={}
a[]=""