**comprehensions**
**special functions**
    - lambda
    - map
    - filter
    - reduce

**comprehensions**
- comprehensions are single line statements
- easier and more readavle way to create list
- types of comprehensions
    - list comprehensions
    - tuple comprehensions
    - dictionary comprehenion
    - set comprehension

```
syntax
[expression for iter_var in sequence or range]
```

In [1]:
empty_list=[]
for i in range(1,11):
    empty_list.append(i**2)
empty_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
tuple(i**2 for i in range(1,11))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [8]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [9]:
{i:i**2  for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
a=[1,2,3,"a","b","c"]
b=[]
for i in a:
    if type(i)==int:
        b.append(i)
b

[1, 2, 3]

In [15]:
[i for i in a if type(i)==str]

['a', 'b', 'c']

In [17]:
var="ravi kishore"
{i for i in var.split()}

{'kishore', 'ravi'}

**lamda**
- lambda is anonymus function
- the fucntion which defined with out a name
- single use and throw-way function.
- temperory use
- lambda function can accept any number of arguments,but they can return only obe value in the form of expression.
```
syntax
lambda arguments:expression
```

In [18]:
x=lambda a,b:a+b
x(3,4)

7

In [21]:
s="online python program"
b=lambda a:a.split()
b(s)

['online', 'python', 'program']

**maps**
- it produces a list of results that it apply given function to each item of a given iterable.
```
syntax
list(map(fucntion,itration var))
```

In [32]:
def add(n):
    return n+n

list(map(add,range(1,10)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
def fn(a):
    return "16H41A04{:03}".format(a)

list(map(fn,range(1,30)))

['16H41A04001',
 '16H41A04002',
 '16H41A04003',
 '16H41A04004',
 '16H41A04005',
 '16H41A04006',
 '16H41A04007',
 '16H41A04008',
 '16H41A04009',
 '16H41A04010',
 '16H41A04011',
 '16H41A04012',
 '16H41A04013',
 '16H41A04014',
 '16H41A04015',
 '16H41A04016',
 '16H41A04017',
 '16H41A04018',
 '16H41A04019',
 '16H41A04020',
 '16H41A04021',
 '16H41A04022',
 '16H41A04023',
 '16H41A04024',
 '16H41A04025',
 '16H41A04026',
 '16H41A04027',
 '16H41A04028',
 '16H41A04029']

In [39]:
l=["abc","bcd","efc","gdt"]
list(map(list,l))

[['a', 'b', 'c'], ['b', 'c', 'd'], ['e', 'f', 'c'], ['g', 'd', 't']]

In [40]:
list(map(lambda x:x*x,range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Filter**
- filter the unwanted elements
```
syntax
list(filter(fn,iteration variable))

In [53]:
def pri(a):
    c=0
    for i in range(1,a+1):
        if a%i == 0:
            c+=1
    if c==2:
        return a

pri(11)

11

In [55]:
print(list(filter(pri,range(1,100))),end="")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [57]:
li=[1,2,3,"a","b","c"]
def dig(a):
    if type(a)==int:
        return True
list(filter(dig,li))

[1, 2, 3]

**reduce**
- reduce fucntion will reduce iterable to single element using some fucntion.
- applies same operation to item of a sequence
- uses result of operation as first parameter of next operation
- returns an item,not a list

In [68]:
def mul(li):
    p=li[0]
    for i in range(1,len(li)): 
        p*=li[i]
    return p
mul([1,2,3,4])

24

In [70]:
import functools
a=[1,2,3,4]
functools.reduce(lambda x,y:x*y,a)

24

In [72]:
def mul(a,b):
    return a*b
functools.reduce(mul,a)

24